body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1480px;
    background-color: #f0f0f0;
}
#chat, #text {
    width: calc(100% - 20px); /* 减去一些边距 */
    margin: 0 10px; /* 上下保持为0，左右添加边距 */
}

.board_left {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */

    
    /* justify-content: flex-start; 使内容从顶部开始 */
    /* align-items: flex-start; 使内容从左侧开始 */


    width: 250px;
    height: 680px;
    border: 1px dashed #0080ff;
}

.board_right {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 250px;
    height: 680px;
    border: 1px dashed #0080ff;
}

.board {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 800px;
    height: 680px;
    border: 1px dashed #0080ff;
}

.container {
    position: relative;
    width: 750px; /* 棋盘宽度 */
    height: 680px; /* 棋盘高度 */

    /*transform: rotate(90deg);  旋转90度 */
}

.hexagon {
    position: absolute;
    width: 55px; /* 单个六边形的宽度 */
    height: 64px; /* 单个六边形的高度 */
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* 上下是边，左右是顶角的六边形 */
    cursor: pointer;
    transition: background-color 0.3s ease; /* 背景色过渡效果 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 裁剪边框超出部分 */
}

.hexagon::before {
    content: '';
    position: absolute;
    width: 80px; /* 边框宽度 */
    height: 80px; /* 边框高度 */
    
    pointer-events: none; /* 点击事件穿透 */
    transition: border-color 0.3s ease; /* 边框颜色过渡效果 */
}

.hexagon:hover::before {
    background-color: white; /* 悬停时的边框颜色 */
}

.hexagon.clicked::before { 
    background-color: orange; /* 点击后的边框颜色 */
}

.hexagon:nth-child(odd) {
    top: 0;
}

.hexagon:nth-child(even) {
    top: 57.5px; /* 单个六边形之间的垂直间距 */
}

.hexagon:nth-child(6n+1),
.hexagon:nth-child(6n+2) {
    left: 0;
}

.hexagon:nth-child(6n+3),
.hexagon:nth-child(6n+4) {
    left: 75px; /* 单个六边形之间的水平间距 */
}

.hexagon:nth-child(6n+5),
.hexagon:nth-child(6n+6) {
    left: 150px; /* 单个六边形之间的水平间距 */
}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; /* 长方形的宽度 */
    height: 65px; /* 长方形的高度 */
    position: absolute;
    background-color: gray; /* 长方形的背景色 */
}


.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px; /* 实心圆的直径 */
    height: 15px;
    border-radius: 50%; /* 使其呈圆形 */
    position: absolute;
    background-color: gray; /* 默认颜色 */
}

.circle.player1 {
    top: 13px;
    left: 1px;
}

.circle.player2 {
    top: 13px;
    right: 1px;
}

.circle.player3 {
    bottom: 13px;
    left: 1px;
}

.circle.player4 {
    bottom: 13px;
    right: 1px;
}

.circle.whale {
    width: 20px;
    height: 20px;
    top: 3px;
}

.circle.shark {
    width: 16px;
    height: 16px;
    left: 1px;
}

.circle.monster {
    width: 25px;
    height: 25px;
    bottom: 6px;
}

.circle.boat0 {
    width: 15px;
    height: 15px;
    top: 5px;
}

.circle.boat1 {
    width: 15px;
    height: 15px;
}

.circle.boat2 {
    width: 15px;
    height: 15px;
    bottom: 5px;
}

.number {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
}

.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
