<html>
    <head>
        <title>Atlantis Game: {{ room }}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

        
        <script type="text/javascript">
            // 创建全局变量并在HTML中赋值
            var room_name = "{{ room }}";
            var user_name = "{{ name }}";
        </script>
    </head>
    <body>

        <!-- 聊天框 ，左边-->
        <div class="board_left" id="display_left">
            <h1>Atlantis Game: {{ room }}</h1>
            <textarea id="chat" cols="80" rows="20"></textarea><br><br>
            <input id="text" size="80" placeholder="Enter your message here"><br><br>
            <a href="#" onclick="leave_room();">Leave this room</a>
        </div> <!-- Display coordinates here -->

        <!-- 游戏主体，中间 -->
        <div class="board" >
            <div class="container">
            <div id="chessboard"></div>
            </div>
        </div>

        <!-- 游戏记录，右边 -->
        <div class="board_right" id="display_right">
            <!--  -->
            <div id="right_board">
                <!--  -->
            </div>
            <!--<p>选择一个棋子：</p>
            <select id="playerSelector">
            </select>-->
        </div> <!-- Display coordinates here -->

        <!-- 弹窗 -->
        <div class="overlay" id="overlayclick" onclick="closePopup()"></div> <!-- 点击遮罩层关闭弹窗 -->
        <div class="overlay2" id="overlay2click" onclick="closePopup2()"></div> <!-- 点击遮罩层关闭弹窗 -->
        <div id="popup" style="display: none;">
            <p>选择一个棋子：</p>
            <select id="playerSelector">
            </select>
            <button id="popupclick" onclick="setPlayer()">确定</button>
        </div>
        <div id="popup2" style="display: none;">
            <p>确定登船：</p>
            <button id="popup2click" onclick="setonBoat()">确定</button>
        </div>
        


    <script src="{{url_for('static',filename='js/Atlantis.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.4.2.min.js')}}""></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/socket.io.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/my_socketio.js')}}"></script>
    </body>
    
</html>
