<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hexagon Chessboard</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>


  <div class="board_left" id="display_left"></div> <!-- Display coordinates here -->
  <div class="board" >
    <div class="container">
      <div id="chessboard"></div>
    </div>
  </div>
  <div class="board_right" id="display_right"></div> <!-- Display coordinates here -->


<script src="{{url_for('static',filename='js/style.js')}}"></script>

</body>
</html>
